.button {
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  border-radius: 18px;
  padding: 10px 20px;
  border-style: none;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    background-color: #218838;
  }
}
